.header {
    background: #0f408a;
    margin: 0;
    padding: 0 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 100px;  
    /* box-shadow: 0 5px 16px black; */
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 16px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a4b96;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border:  0;
    margin: 0;
    
}

p {
    flex-shrink: 0;   
    margin-top: 6px;
    margin-bottom: 12px;
}

.head-logo {
    font-size: 20px;
    font-weight: 800;
}

.info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: 1;
    color: #ffffff;
    padding: 0;
    
    margin-bottom: 70px;
    
}

.website {
    font-size: 60px;
    color: rgb(245, 147, 0);
    font-weight: 900;
    margin: 0;
    line-height: 1;
}

.body-text {
    margin-top: 20px;
    line-height: 1.3;
}

.photo {
    display: flex;
    margin: 20px;
    flex-shrink: 1;
}

.img-main {
    border-radius: 0px;
    width: 500px;
    /*border: 2px solid white;*/
    box-shadow: 0 1px 12px rgb(2, 19, 71);
}

.signup,
.button-two {
    background-color: #5096ff;
    border: none;
    align-items: center;
    width: 120px;
    height: 30px;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.info-text {
    flex-shrink: 0;
    margin: 20px;
    width: 500px;
}

.field-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 70px 0;
    background-color: white;
    color:#1a4b96;
}

.img-line {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: center;
}

.img-one,
.img-two,
.img-three,
.img-four {
    display: flex;
    justify-content: center;
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    border: 0;
    margin: 0 20px;
    /*border: 5px solid #5096ff;*/
}

.subtext {
    margin-top: 10px;
    text-align: center;
}

.ftwo-header {
    font-size: 28px;
}

.img-wrap {
    flex-wrap: wrap;
}

.field-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 70px 300px;
    background-color: #1a4b96;
    color: white;
}

.quote,
.thor {
    width: 700px;
}

.quote {
    font-size: 30px;
    font-style: italic;
    line-height: 1.2;
}

.thor {
    display: flex;
    justify-content: flex-end;
}

.field-four {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 70px;
    gap: 70px;
    background-color: #5096ff;

}

.button-two {
    padding: 2px;
    border: 2px solid #ffffff;
}

.action {
    font-size: 20px;
    font-weight: 600;
}

.click-text {
    font-size: 14px;
    font-weight: 200;
}